@import "../../../../assets/scss/utils/vars.scss";

.dropdown {
    position: relative;
    width: 320px;
    height: 44px;
    border: 1px solid $dark_shade_25;
    border-radius: 4px;
}

.dropdown:hover {
    border: 1px solid $dark_shade_50;
}

.dropdown label {
    display: block;
    padding: 8px 15px;
    color: $dark_shade_75;
    cursor: pointer;
}

.dropdown button {
    top: 0;
}
  
.dropdown ul {
    list-style: none;
    position: absolute;
    left: -1px;
    top: 43px;
    width: inherit;
    z-index: 1;
}
  
.dropdown ul li {
    padding: 0px 16px;
    color: $dark_shade_100;
    text-transform: uppercase;
    height: 0px;
    overflow: hidden;
    cursor: pointer;
    transition: height 0.1s linear 0s;
    background-color: #fff;
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 12px;
    line-height: 15px;
}
  
.dropdown ul li:hover,
.dropdown ul li.selected {
    color: $dark_shade_50;
}

.dropdown.open {
    border-radius: 4px 4px 0 0;
}
  
.dropdown.open ul li {
    padding: 8px 16px;
    height: 40px;
    border: 1px solid $dark_shade_50;
    border-top: none;
    border-bottom: none; 
}

.dropdown.open ul li:last-child {
    border-bottom: 1px solid $dark_shade_50;
    border-radius: 0 0 4px 4px;
}

.number, .minus, .plus, .count, .count-text {
    display: inline-block;
}

.count {
    width: 32px;
    height: 30px;
}

.minus, .plus {
    width: 30px;
    height: 30px;
    border: 1px solid $dark_shade_25;
    border-radius: 22px;
}
