@import "../../../../assets/scss/utils/vars.scss";

/* Customize the label (the container) */
.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-right: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    // font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $dark_shade_50;
}
  
/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom radio button */
.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 1px solid $dark_shade_25;
    border-radius: 50%;
}
  
/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
    border: 1px solid $purple;
}

.radio-container:hover {
    color: $dark_shade_75;
}

.radio-container input:checked {
    color: $dark_shade_75;
}
  
/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
    border: 1px solid $purple;
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}
  
/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}