.color, .type {
    display: inline-block;
    vertical-align: top;
}

.color {
    font-family: quicksand, Arial, sans-serif;
}

.rectangle-text p{
    font-size: 19px;
    line-height: 29px;
}

.rectangle-text-bold {
    font-weight: bold;
}

.rectangle {
    margin-bottom: 20px;
    color: $dark_shade_100;
}

.rectangle-color, .rectangle-text {
    display: inline-block;
    vertical-align: middle;
}

.rectangle-color {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
}

.dark_shade_100 {
    background: $dark_shade_100;
}

.dark_shade_75 {
    background: $dark_shade_75;
}

.dark_shade_50 {
    background: $dark_shade_50;
}

.dark_shade_25 {
    background: $dark_shade_25;
}

.dark_shade_5 {
    background: $dark_shade_5;
}

.purple {
    background: $purple;
} 

.green {
    background: $green;
}