.color, .type {
    display: inline-block;
    vertical-align: top;
}

.rectangle-text p{
    font-size: 19px;
    line-height: 29px;
}

.rectangle-text-bold {
    font-weight: bold;
}

.rectangle {
    margin-bottom: 20px;
}

.rectangle-color, .rectangle-text {
    display: inline-block;
    vertical-align: middle;
}

.rectangle-color {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
}

.dark_shade_100 {
    background: #1F2041;
}

.dark_shade_75 {
    background: rgba(31, 32, 65, 0.75);
}

.dark_shade_50 {
    background: rgba(31, 32, 65, 0.5);
}

.dark_shade_25 {
    background: rgba(31, 32, 65, 0.25);
}

.dark_shade_5 {
    background: rgba(31, 32, 65, 0.05);
}

.purple {
    background: #BC9CFF;
} 

.green {
    background: #6FCF97;
}

.text p {
    display: inline-block;
    vertical-align: top;
}

.text p:first-child {
    margin-right: 30px;
    text-align: right;
}

.text p:nth-child(2n) {
    width: 336px;
    font-weight: bold;
}

.type .text:last-child p:last-child {
    font-weight: normal;
}

.type .text:first-child {
    font-size: 24px;
    line-height: 30px;
}

.type .text:nth-child(3n-1) {
    font-size: 19px;
    line-height: 24px;
}

.type .text:nth-child(3n) {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.type .text:nth-child(4n) {
    font-size: 14px;
    line-height: 24px;
}