.header {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 30px;
    top: 30px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.color {
    float: left;
    font-family: quicksand, sans-serif;
}

.type {
    float: right;
}

.rectangle-text p{
    font-size: 19px;
    line-height: 29px;
}

.rectangle-text-bold {
    font-family: quicksand-bold, sans-serif;
}

.rectangle {
    margin-bottom: 20px;
    color: $dark_shade_100;
}

.rectangle-color, .rectangle-text {
    display: inline-block;
    vertical-align: middle;
}

.rectangle-color {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
}

.dark_shade_100 {
    background: $dark_shade_100;
}

.dark_shade_75 {
    background: $dark_shade_75;
}

.dark_shade_50 {
    background: $dark_shade_50;
}

.dark_shade_25 {
    background: $dark_shade_25;
}

.dark_shade_5 {
    background: $dark_shade_5;
}

.purple {
    background: $purple;
} 

.green {
    background: $green;
}

input {
    width: 100%;
    height: 44px;
    padding: 8px 15px;
    border: 1px solid $dark_shade_25;
    border-radius: 4px;
}

.default, input:hover, .dropdown:hover {
    border: 1px solid $dark_shade_50;
}

.form-title {
    margin-bottom: 5px;
}

.dropdown {
    position: relative;
    width: 320px;
    height: 44px;
    border: 1px solid $dark_shade_25;
    border-radius: 4px;
}
// added font-family: Material Icons
// .dropdown:after { 
//     content: "";
//     width: 13px;
//     height: 7px;
//     background-image: url('/assets/img/expand_more.png');
//     position: absolute;
//     top: 15px;
//     right: 10px;
// }
  
.dropdown label {
    display: block;
    padding: 8px 15px;
    color: $dark_shade_75;
    cursor: pointer;
}

.dropdown button {
    top: 0;
}
  
.dropdown ul {
    list-style: none;
    position: absolute;
    width: inherit;
}
  
.dropdown ul li {
    padding: 0px 16px;
    color: #343838;
    height: 0px;
    overflow: hidden;
    cursor: pointer;
    transition: height 0.1s linear 0s;
}
  
.dropdown ul li:hover,
.dropdown ul li.selected {
    background: #00B4CC;
    color: #FAFAFA;
    border-left: 2px solid blue !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
  
.dropdown.open ul li {
    padding: 8px 16px;
    height: 34px;
    border: 1px solid gray;
    border-top: none;
}

.form-date-dropdown {
    display: inline-block;
    margin-right: 20px;
}

.form-date-dropdown:last-child {
    margin-right: 0;
}

.form-date-dropdown input {
    width: 150px;
    height: 44px
}

.form-btn {
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0;
    background-color: inherit;

}