// section colors % type
.colors-type {
    padding: 145px 191px 145px 150px;
}

.text {
    margin-bottom: 50px;
}

.text-left, .text-right {
    display: inline-block;
    vertical-align: top;
}

.text-left {
    width: 37px;
    margin-right: 30px;
    text-align: right;
    color: $dark_shade_25;
}

.text-right {
    width: 336px;
}

.type .text:first-child .text-left {
    font-size: 24px;
    line-height: 30px;
}

.type .text:nth-child(3n-1) .text-left {
    font-size: 19px;
    line-height: 24px;
}

.type .text:nth-child(3n) .text-left {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.type .text:nth-child(4n) .text-left {
    font-size: 14px;
    line-height: 24px;
}

// section form elements
.form-elements {
    padding: 143px 141px 147px 141px;
}

.form-field {
    margin-bottom: 20px;
    position: relative;
    width: 320px;
}

.form-field-default {
    margin-bottom: 20px;
    position: relative;
    width: 266px;
}

.form-default {
    position: absolute;
    top: -7px;
    right: 0;
    text-transform: uppercase;
    color: $dark_shade_50;
}

.dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.show {
    display: block;
}