extends ../layout/main

block variables
  - var title = 'UI kit page';
  - var description = 'UI kit page';
  - var pageClass = 'UI_kit-page';

block content
    include ../includes/modules/header/header
    section.colors-type
        .wrapper