extends ../layout/main

block variables
  - var title = 'UI kit page';
  - var description = 'UI kit page';
  - var pageClass = 'UI_kit-page';
  - var link = 'index.html';
  - var linkDescription = 'На главную';

block content
    +logo
    +link('index.html', 'На главную')(class="btn")
    section.colors-type
        .wrapper.clearfix
          .color
            +color('dark_shade_100', 'Dark Shade 100%', '#1F2041')
            +color('dark_shade_75', 'Dark Shade 75%', '#1F2041')
            +color('dark_shade_50', 'Dark Shade 50%', '#1F2041')
            +color('dark_shade_25', 'Dark Shade 25%', '#1F2041')
            +color('dark_shade_5', 'Dark Shade 5%', '#1F2041')
            +color('purple', 'Purple', '#BC9CFF')
            +color('green', 'Green', '#6FCF97')
          .type
            .text
              .text-left
                p H1
              .text-right
                h1 This one is the sub-section or widget title
            .text
              .text-left
                p H2
              .text-right
                h2 Next one is the item title inside widgets
            .text
              .text-left
                p H3
              .text-right
                h3 This is a label or CTA text
            .text
              .text-left
                p Body
              .text-right
                p This is the body text which is used for most of the design, like paragraphs, lists, etc.
    section.form-elements
      +logo
      .wrapper
        +field('text field', 'default', 'text', 'Email')
        +field-hover('text field', 'hover / focus', 'text', 'This is pretty awesome')
        +dropdown('dropdown', 'default', '1', '2', '3')
        div.title
      