extends ../layout/main

include ../includes/components/logo/logo
include ../includes/components/btn/btn
include ../includes/components/field/field
include ../includes/components/dropdown/dropdown
include ../includes/components/date-dropdown/date-dropdown
include ../includes/components/checkbox/checkbox
include ../includes/components/checkbox-list/checkbox-list
include ../includes/components/icon-text-list/icon-text-list
include ../includes/components/radio/radio
include ../includes/components/toggle-input/toggle-input
include ../includes/components/star/star

block variables
  - var title = 'UI kit page';
  - var description = 'UI kit page';
  - var pageClass = 'UI_kit-page';
  - var link = 'index.html';
  - var linkDescription = 'На главную';

block content
    +logo
    +link('index.html', 'На главную')(class="btn")
    section.colors-type
        .wrapper.clearfix
          .color
            +color('dark_shade_100', 'Dark Shade 100%', '#1F2041')
            +color('dark_shade_75', 'Dark Shade 75%', '#1F2041')
            +color('dark_shade_50', 'Dark Shade 50%', '#1F2041')
            +color('dark_shade_25', 'Dark Shade 25%', '#1F2041')
            +color('dark_shade_5', 'Dark Shade 5%', '#1F2041')
            +color('purple', 'Purple', '#BC9CFF')
            +color('green', 'Green', '#6FCF97')
          .type
            .text
              .text-left
                p H1
              .text-right
                h1 This one is the sub-section or widget title
            .text
              .text-left
                p H2
              .text-right
                h2 Next one is the item title inside widgets
            .text
              .text-left
                p H3
              .text-right
                h3 This is a label or CTA text
            .text
              .text-left
                p Body
              .text-right
                p This is the body text which is used for most of the design, like paragraphs, lists, etc.
    section.form-elements
      +logo
      .wrapper.flex
        .form-elements-left
          .form-field
            p.form-default default
            h3.form-title text field
            +field('text', 'Email')
          .form-field
            p.form-default hover / focus
            +field-hover('text field', 'text', 'This is pretty awesome')
          .form-field
            p.form-default default
            h3.form-title dropdown
            +dropdown('Сколько гостей', '1', '2', '3')
          .form-field
            p.form-default default
            h3.form-title masked text field
            +field('text', 'ДД.ММ.ГГГГ')
          .form-field
            +date-dropdown('date dropdown', 'date dropdown')
          .form-field-default
            h3.form-title filter date dropdown
            +field('text', '19 авг - 23 авг')
            +btn('btn-more', 'button', 'expand_more')
          .form-field-default
            h3.form-title subscription text field
            +field('text', 'Email')
            +btn('btn-arrow', 'button', 'arrow_forward')
          .form-checkbox
            +checkbox-list('expandable checkbox list')
          .form-checkbox
            +checkbox-list('expandable checkbox list')
            +checkbox('Завтраки')
            +checkbox('Письменный стол')
            +checkbox('Стул для кормления')
            +checkbox('Кроватка')
            +checkbox('Телевизор')
            +checkbox('Шампунь')
            +checkbox('Телевизор')
            +checkbox('Шампунь')
          .icon-text-list
            +icon-text-list('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены')
            +icon-text-list('location_city', 'Удобство', 'Окно в каждой из спален')
        .form-elements-center
          .form-field
            h3 checkbox buttons
            +checkbox('Можно курить')
            +checkbox('Можно с питомцами')
            +checkbox('Можно пригласить гостей (до 10 человек)')
          .form-field
            h3 radio buttons
            +radio('Мужчина')
            +radio('Женщина')
          .form-field
            h3 toggle
            +toggle('Получать спецпредложения')
            +toggle('Получать спецпредложения')
          .form-field
            h3 like button
          .form-field
            h3 rate button
            +star()
            +star()
        .form-elements-right
        //- div.title
      