@import "../../../../assets/scss/utils/vars.scss";

.icon {
    position: absolute;
    width: 48px;
    height: 48px;
    font-size: 48px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
}

.icon-text {
    height: 48px;
    margin-left: 58px;
}

.icon-text h4 {
    font-family: Montserrat-bold, sans-serif;
}

.line {
    margin-top: 17px;
    margin-bottom: 23px;
    width: 280px;
    height: 1px;
    background: $dark_shade_10;
}

.material-icons.icon-color { 
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}